h1{
    color:rgb(188, 104, 104);
}

h3{
    color:cadetblue;
}

P{
    color: #000000;
}

button{
    color:rgb(232, 108, 232);
    background-color:rgb(255, 255, 0);
}

body{
    background-color:azure ;
}